/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: (965px + $grid-gutter-width);
/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


@media (max-width: 480px) {
  //$container-small: (480px + $grid-gutter-width);
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
    visibility: hidden;
  }
  .header-logo {
    width: 20%;
    background-color: red;
  }
  .swamp-rabbit h1 {
    font-size: 48px;
  }
  .mountain-bikes {
    display: none;
  }
  .mobile-photo {
    height: 300px;
    border-right: 1px solid black;
  }
}

@media (min-width: 481px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
  .header-logo {
    background-color: red;
  }
}

$border-style: 1px solid black;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  text-align: center;
  font-size: 25px;
  line-height: 23px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.swamp-rabbit {
  height: 300px;
  background-color: #f3f3f3;
  border: $border-style;
}

.swamp-rabbit h1 {
  text-align: center;
  line-height: 200px;
  padding-top: 90px;
  font-size: 57px;
  @media (max-width: 760px) {
    font-size: 36px;
  }
}

.header-logo {
  height: 75px;
  top: 50px;
  background-color: white;
  border: $border-style;
}

.header-logo p {
  text-align: center;
  line-height: 75px;
}

.best-gear {
  height: 125px;
  background-color: white;
  padding-top: 34px;
  border: $border-style;
}

.best-gear p {
  text-align: center;
  font-size: 25px;
  line-height: 23px;
  @media (max-width: 480px) {
    font-size: 18px;
  }
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
  }


.recent-photo {
  height: 200px;
  background-color: #f3f3f3;
  padding-top: 50px;
  border: $border-style;
  @media (max-width: 480px) {
    height: 300px;
    padding-top: 100px;
    .hide-mobile {
      display: none;
    }
  }
}

.recent-photo h2 {
  text-align: center;
  line-height: 20px;
}

.mountain-bikes {
  height: 150px;
  padding-top: 30px;
  border: $border-style;
}

.contact {
  height: 300px;
  padding-top: 50px;
  border: $border-style;
  @media (max-width: 480px) {
    padding-top: 75px;
  }
}

.contact h2 {
  line-height: 67px;
  @media (max-width: 480px) {
    font-size: 24px;
    line-height: 40px;
  }
}

.contact p {
  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.copyright {
  height: 50px;
  border: $border-style;
}

.copyright p {
  line-height: 50px;
  @media (max-width: 480px) {
    font-size: 18px;
  }
}
